# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.vscode/
# Expo
.expo/
dist/
web-build/
# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
/%ProgramData%

# typescript
*.tsbuildinfo

#Android
# OSX
#
android/.DS_Store

# Android/IntelliJ
#
android/build/
android/.idea
android/.gradle
android/*.iml
android/*.hprof

# Bundle artifacts
android/*.jsbundle

package-lock.json
